.info {
    float: right; 
    width: 260px; 
    font-size: 90%; 
    margin: 0 0 1em 1em; 
    background: #f9f9f9; 
    border: 1px #999999 solid; 
    border-collapse: collapse; 
    clear: right;
}
.titel {
    color: #ff4949;
    font-weight:900;
}
.article p {
    font-family: "Bender";
    margin: .63em 0 1.8em 0;
    padding: 0;
    color: #fff;
}
.article .img{
    margin: 5px;
    float: left;
}
ol, ul {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 1.5em;
    margin: 2%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.live {
    overflow: hidden;
}
.live > li {
    list-style: none;
    position: relative;
    padding: 0 0 0 2em;
    transition: 0.2s;
}
.live > li:hover {
    color: #FFF;
}
.live > li::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #FFF;
    border-radius: 3px;
    top: 5px;
    left: 5px;
    opacity: 0.5;
    transition: 0.5s;
}
.live > li:hover::before {
    opacity: 1;
    transition: 0.1s;
    border-radius: 5px;
    width: 25px;
    left: -10px;
    background: #BA5353;
}